<settings>

    <setting propertyKey="@Properties.Gender" title="@Strings.Gender">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Female</listEntry>
            <listEntry value="1">@Strings.Male</listEntry>            
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.Weight" title="@Strings.Weight">        
        <settingConfig type="numeric" />        
    </setting>
    
    <setting propertyKey="@Properties.Height" title="@Strings.Height">
        <settingConfig type="numeric" />
    </setting>
    
    <setting propertyKey="@Properties.Age" title="@Strings.Age">
        <settingConfig type="numeric" />
    </setting>
    
    <setting propertyKey="@Properties.BpmZones" title="@Strings.BpmZones">
        <settingConfig type="boolean" />
    </setting>    
    
    <setting propertyKey="@Properties.Theme" title="@Strings.Theme">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Dark</listEntry>
            <listEntry value="1">@Strings.Light</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.Fonts" title="@Strings.Fonts">
        <settingConfig type="list">
            <listEntry value="0">@Strings.RegularFont</listEntry>
            <listEntry value="1">@Strings.MediumFont</listEntry>
            <listEntry value="2">@Strings.BoldFont</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.Language" title="@Strings.Language">
        <settingConfig type="list">
            <listEntry value="0">@Strings.German</listEntry>
            <listEntry value="1">@Strings.English</listEntry>
        </settingConfig>
    </setting>
</settings>
